
:root {
    font-family: monospace;
    --color-primary: #97c7ff;
}

.container {
    box-shadow: 0px 0px 50px rgb(0, 0, 0, 20%);
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    border-top: var(--color-primary) 10px solid;
}

body {
    background-color: #eee;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h2 {
    border-left: 5px solid var(--color-primary);
    padding-left: 5px;
}

#error-message {
    display: none;
}

.credits {
    font-style: italic;
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
}